<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="dist/img/logo.png" />
    <title>Pendataan Siswa Magang</title>
    <link rel="stylesheet" href="/css/output.css" type="text/css" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Skranji&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />

    <!-- Fontawesome -->
    <link rel="stylesheet" href="/icon/fontawesome/css/all.min.css" />

    <!-- Toastr -->
    <link rel="stylesheet" href="plugins/toastr/toastr.min.css" />
  </head>
  <body
    class="h-[100vh] w-[100vw] overflow-hidden bg-gradient-to-br from-white from-10% via-sky-400 via-100%"
  >
    <!-- Awal Header -->
    <header
      class="relative flex h-[70px] w-full items-center justify-center font-quicksand text-xl font-bold"
    >
      <div
        class="container absolute z-20 flex items-center justify-center md:justify-between"
      >
        <div
          class="flex items-center justify-center rounded-br-xl rounded-tl-xl bg-yellow-300 p-1 shadow-lg"
        >
          <span class="text-lg text-black sm:text-3xl md:text-2xl"
            >Aplikasi Pendataan Siswa Magang</span
          >
        </div>
        <div
          class="terkecuali hidden h-full w-52 items-center justify-center gap-2 md:flex"
        >
          <a href="#" class="tombol-log tombol-masuk"> MASUK </a>
          <a href="#" class="tombol-log tombol-daftar"> DAFTAR </a>
        </div>
      </div>
    </header>
    <!-- Akhir Header -->

    <!-- Awal Main -->
    <main class="absolute h-[100%] w-full overflow-hidden font-quicksand">
      <!-- Page Daftar -->
      <div
        class="terkecuali page-daftar absolute right-[8%] sm:right-6 lg:right-24 top-10 z-30 flex h-[80%] w-[85%] sm:w-[40%] lg:w-[30%] translate-x-[100vw] items-center justify-center rounded-3xl bg-white shadow-[0px_0px_3px_2px_rgba(0,0,0,.3)] shadow-sky-300 transition duration-500 ease-in-out"
      >
        <div
          class="terkecuali prev-daftar absolute right-4 top-2 h-4 w-5 cursor-pointer"
        >
          <i class="fa-solid fa-arrow-right text-xl text-sky-600"></i>
        </div>
        <div class="flex h-[90%] w-[90%] sm:w-[100%] md:w-[90%]">
          <form
            action="/daftar"
            class="terkecuali form-daftar flex h-full w-full flex-col items-center"
            method="post"
          >
            <h1 class="mt-6 text-center text-2xl font-semibold text-sky-500 sm:text-xl lg:text-2xl">
              Buat Akunmu Sekarang
            </h1>
            <p class="text-center text-sm font-semibold text-slate-600">
              Jadilah bagian dari kami dengan membuat akun yang mudah dan cepat.
            </p>
            <div class="form-daftar mt-8 flex w-[90%] flex-col">
              <div
                class="terkecuali my-2 flex h-10 w-full items-center rounded-md shadow-[0px_0px_2px_1px_rgba(0,0,0,.3)]"
              >
                <div class="w-10 text-center">
                  <i class="fa-solid fa-user mx-2 text-lg"></i>
                </div>
                <input
                  type="text"
                  class="h-[95%] w-full rounded-md px-1 focus:outline-none focus:ring-2 focus:ring-sky-600"
                  placeholder="Masukan Nama Lengkap"
                  required
                  name="nama"
                />
              </div>
              <div
                class="my-2 flex h-10 w-full items-center rounded-md shadow-[0px_0px_2px_1px_rgba(0,0,0,.3)]"
              >
                <div class="w-10 text-center">
                  <i class="fa-solid fa-envelope mx-2 text-lg"></i>
                </div>
                <input
                  type="email"
                  class="h-[95%] w-full rounded-md px-1 invalid:text-pink-700 focus:outline-none focus:ring-2 focus:ring-sky-600 invalid:focus:ring-pink-700"
                  placeholder="Masukan Email"
                  required
                  name="email"
                />
              </div>
              <div
                class="my-2 flex h-10 w-full items-center rounded-md shadow-[0px_0px_2px_1px_rgba(0,0,0,.3)]"
              >
                <div class="w-10 text-center">
                  <i class="fa-solid fa-mobile-screen mx-2 text-lg"></i>
                </div>
                <input
                  type="text"
                  class="h-[95%] w-full rounded-md px-1 focus:outline-none focus:ring-2 focus:ring-sky-600"
                  placeholder="Masukan No HP"
                  required
                  name="no_hp"
                />
              </div>
              <div
                class="my-2 flex h-10 w-full items-center rounded-md shadow-[0px_0px_2px_1px_rgba(0,0,0,.3)]"
              >
                <div class="w-10 text-center">
                  <i class="fa-solid fa-unlock mx-2 text-lg"></i>
                </div>
                <input
                  type="password"
                  class="h-[95%] w-full rounded-md px-1 focus:outline-none focus:ring-2 focus:ring-sky-600"
                  placeholder="Masukan Password"
                  required
                  name="password"
                />
              </div>
              <button
                type="submit"
                class="mt-3 rounded-lg bg-sky-500 p-1 text-center text-lg font-semibold text-white hover:bg-sky-600 hover:shadow-md hover:shadow-sky-300"
              >
                Daftar
              </button>
              <div class="mt-1 text-center">
                Sudah punya akun? Silahkan
                <a href="#" class="tombol-masuk text-blue-600">masuk</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Akhir Page Daftar -->

      <!-- Page Masuk -->
      <div
        class="terkecuali page-masuk absolute right-[8%] sm:right-6 lg:right-24 top-10 z-30 flex h-[80%] w-[85%] sm:w-[40%] lg:w-[30%] translate-x-[100vw] items-center justify-center rounded-3xl bg-white shadow-[0px_0px_3px_2px_rgba(0,0,0,.3)] shadow-sky-300 transition duration-500 ease-in-out"
      >
        <div class="prev-masuk absolute right-4 top-2 h-4 w-5 cursor-pointer">
          <i
            class="fa-solid fa-arrow-right prev-masuk text-xl text-sky-600"
          ></i>
        </div>
        <div class="flex h-[90%] w-[90%] sm:w-[100%] md:w-[90%]">
          <form
            action=""
            class="form-masuk flex h-full w-full flex-col items-center"
            method="post"
          >
            <h1 class="mt-6 text-center text-2xl font-semibold text-sky-500">
              Silahkan Masuk
            </h1>
            <p class="text-center text-sm font-semibold text-slate-600">
              Selamat datang! Silahkan masuk untuk mengakses akun Anda.
            </p>
            <div class="form-masuk mt-16 flex w-[90%] flex-col">
              <div
                class="my-2 flex h-10 w-full items-center rounded-md shadow-[0px_0px_2px_1px_rgba(0,0,0,.3)]"
              >
                <div class="w-10 text-center">
                  <i class="fa-solid fa-envelope mx-2 text-lg"></i>
                </div>
                <input
                  type="email"
                  class="h-[95%] w-full rounded-md px-1 invalid:text-pink-700 focus:outline-none focus:ring-2 focus:ring-sky-600 invalid:focus:ring-pink-700"
                  placeholder="Masukan Email"
                  required
                  name="email"
                />
              </div>
              <div
                class="my-2 flex h-10 w-full items-center rounded-md shadow-[0px_0px_2px_1px_rgba(0,0,0,.3)]"
              >
                <div class="w-10 text-center">
                  <i class="fa-solid fa-unlock mx-2 text-lg"></i>
                </div>
                <input
                  type="password"
                  class="h-[95%] w-full rounded-md px-1 focus:outline-none focus:ring-2 focus:ring-sky-600"
                  placeholder="Masukan Password"
                  required
                  name="password"
                />
              </div>
              <button
                type="submit"
                class="mt-[90px] rounded-lg bg-sky-500 p-1 text-center text-lg font-semibold text-white hover:bg-sky-600 hover:shadow-md hover:shadow-sky-300"
              >
                Masuk
              </button>
              <div class="mt-1 text-center">
                Belum punya akun? Silahkan
                <a href="#" class="tombol-daftar text-blue-600">daftar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Akhir Page Masuk -->

      <div
        class="takterkecuali container mx-auto flex h-full flex-wrap justify-center"
      >
        <div
          class="judul order-2 flex h-full w-full max-w-[500px] flex-col justify-start sm:order-1 sm:w-1/2 sm:justify-center lg:max-w-none"
        >
          <div class="pointer-events-none block h-16 sm:h-24 md:h-32 lg:h-48 xl:h-36">
            <h1
              class="text-center text-xl lg:leading-snug font-bold text-black sm:text-2xl md:text-3xl lg:text-5xl"
            >
              <span class="bg-judul text-judul">Selamat Datang</span> 
              <span class="ketikan text-judul"></span>
              <span class="-ml-[5px] lg:-ml-3">|</span>
            </h1>
          </div>
          <p class="text-center text-lg text-slate-600 lg:text-xl">
            Mempermudah Anda dalam Mengelola dan Menyimpan Data Siswa Magang
            dengan Lebih Efisien.
          </p>

          <div class="px-1 text-sm sm:px-16 lg:text-base">
            <div class="mt-10 flex cursor-default items-center">
              <div
                class="inline-block rounded-full pl-1 shadow-inner sm:rounded-full sm:text-center md:rounded-full"
              >
                <div class="inline-block md:mr-2">Belum Punya Akun?</div>
                <div class="inline-block">
                  <a href="#" class="tombol-akun tombol-daftar terkecuali"
                    >Buat Akun Sekarang</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5 flex cursor-default items-center justify-end">
              <div
                class="inline-block rounded-full pl-1 shadow-inner sm:rounded-full sm:text-center md:rounded-full"
              >
                <div class="inline-block md:mr-2">Sudah Punya Akun?</div>
                <div class="inline-block">
                  <a href="#" class="tombol-akun tombol-masuk terkecuali"
                    >Silahkan Masuk</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content order-1 w-1/2 sm:order-2 sm:block">
          <div
            class="flex h-full w-full items-center justify-center sm:justify-end"
          >
            <div
              class="ilustrasi terkecuali transition-all duration-200 ease-in-out"
            >
              <img
                src="/img/Data_report.svg"
                alt="Data_report"
                class="w-[420px] my-10 sm:my-0"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Akhir Main -->

    <script type="module" src="/utils_view/fungsi.js"></script>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Toast -->
    <script src="plugins/toastr/toastr.min.js"></script>
    <script>
      toastr.options = {
        positionClass: "toast-top-center",
        closeButton: true,
        showDuration: "100",
        hideDuration: "100",
        timeOut: "2000",
      };
      $(document).ready(() => {
        let keluar = "<%= keluar%>";
        let masuk_dulu = "<%= masuk_dulu%>";

        if (keluar.length !== 0) {
          toastr.success(keluar, "Berhasil");
        }
        if (masuk_dulu.length !== 0) {
          toastr.error(masuk_dulu, "Gagal");
        }
      });

      $(".form-daftar").submit(function (event) {
        event.preventDefault();

        const nama = $(this).find("input[name='nama']").val();
        const email = $(this).find("input[name='email']").val();
        const no_hp = $(this).find("input[name='no_hp']").val();
        const password = $(this).find("input[name='password']").val();

        $.ajax({
          type: "POST",
          url: "/daftar",
          data: { nama, email, no_hp, password },
          success: function (response) {
            toastr.success("Akun Berhasil Dibuat", "Berhasil");
          },
          error: function (err) {
            if (err.status === 401) {
              const response = err.responseJSON;
              if (response && response.success === false) {
                toastr.error(response.error, "Gagal");
              }
            }
            console.log(err);
          },
        });
      });
      $(".form-masuk").submit(function (event) {
        event.preventDefault();

        const email = $(this).find("input[name='email']").val();
        const password = $(this).find("input[name='password']").val();

        $.ajax({
          type: "POST",
          url: "/masuk",
          data: { email, password },
          success: function (response) {
            window.location.href = response.redirectTo;
          },
          error: function (err) {
            toastr.error("Email atau password salah!", "Gagal Masuk");
            console.log(err);
          },
        });
      });
    </script>
  </body>
</html>
